[Desktop Entry]
Name=Eclipse
Comment=Eclipse IDE
Exec=/opt/eclipse/eclipse %F
Icon=/opt/eclipse/icon.xpm
Type=Application
StartupNotify=true
Categories=TextEditor;Development;Utility;
MimeType=text/plain
